PORT=3000
NODE_ENV=development
MONGO_URI=
JWT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# EmailJS
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_USER_ID=
EMAILJS_ACCESS_TOKEN=

# Admin Inicial (create_admin script)
ADMIN_EMAIL=
ADMIN_PASSWORD=
